@import "./base.css";
.receipt {
    position: relative;
    padding-top: 20px;
}

.am-list-item .am-input-control input {
    text-align: right;
}

.caleRate {
    padding-bottom: 5px;
    text-align: right;
    color: gray;
    padding-right: 15px;
    font-size: 14px;
    line-height: 1.7;
}

.checkbox .am-list-body {
    text-align: left;
}

.am-input-label {
    color: #000 !important;
}

.am-checkbox-wrapper a {
    display: inline-block;
    vertical-align: middle;
}

.signatureTip + .am-input-error-extra {
    display: none;
    padding-left: 5px;
    height: 21px;
    width: 21px;
    margin-left: 6px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'18'%20height%3D'18'%20vi…20-9.000000)%20'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 21px auto;
}

.am-input-error .signatureTip + .am-input-error-extra {
    display: block;
}
.errTip {
    display: none;
}

.am-input-error + .errTip {
    display: block;
    padding: 5px 15px;
    text-align: right;
    color: red;
}

.am-list-item + .errTip {
    padding-bottom: 15px;
}
.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}

.signature {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7rem;
    padding: 0.3rem 0 0;
    background: #ccc;
    -webkit-transform: translate3d(-50%, -50%, 0);
    box-sizing: border-box;
    border-radius: 8px;
}

.canvas {
    width: 6.6rem;
    height: 3.3rem;
    background-color: white;
}

.signatureTip {
    text-align: right;
    color: #000;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 2px 0;
    border: 0;
    background-color: transparent;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #bbb;
    line-height: 1.2;
}
.signatureTip img {
    width: 100px;
    height: 40px;
    vertical-align: middle;
}
.hide {
    display: none;
}
